@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;900&dispay=swap');
:root{
    --big-font: 5rem;
    --h2-font: 3rem;
    --p-font:1.1rem;
    --main-color: #ff007f;
    --bg-color: #f3f5f8;
    --second-bg-color:#3d535f;
}




*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
.container{
    width: 100%;
    min-height: 100vh;
    background-color:  var(--bg-color);
}
nav{
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    width: 100%;
    justify-content: space-around;
    height: 10vh;
    line-height: 80px;
    z-index: 1000;
    background: transparent;
    border-bottom: 1px solid transparent;
    transition: all .45s ease ;
}
nav.sticky{
    background: var(--bg-color);
    border-bottom: 1px solid var(--main-color);
    padding: 12px 10%;
}
.logo a{
    display: flex;
    text-decoration: none;
    font-size: 40px;
    font-weight: 800;
    color: var(--second-bg-color);
    letter-spacing: 3px;
    text-transform: uppercase;
}
b{
    font-size: 50px;
    color: var(--main-color);
}
.navItems{
    display: flex;
}
.navItems li{
    list-style: none;
    margin: 0 25px;
}
.navItems li a{
    font-size: 25px;
    color: var(--second-bg-color);
    letter-spacing: 3px;
    text-decoration: none;
    text-transform: capitalize;
}
.navItems li:hover a,
.icons a:hover,
.navItems a.active{
    color: var(--main-color);
} 

#menu-icon{
    font-size: 45px;
    color: var(--second-bg-color);
    z-index: 10001;
    cursor: pointer;
    margin-left: 25px;
    display: none;
}
.icons a{
    font-size: 30px;
    color: var(--second-bg-color);
    margin: 25px 10px;
}

.wrapper{
    display: flex;
    width: 100%;
    margin-top: 10vh;
    height: 100vh;
    align-items: center;
    padding: 0 10%;
    overflow: hidden;
    justify-content: flex-start;
}
.wrapper::before{
    position: absolute;
    content: '';
    height: 550px;
    width: 550px;
    border-radius: 50%;
    left: -12%;
    top: 40%;
    background: linear-gradient(45deg,rgb(78, 77, 77),rgb(255, 255, 255));;
    animation: object1 6s linear infinite;
}
.wrapper::after{
    position: absolute;
    content: '';
    height: 200px;
    width: 200px;
    border-radius: 50%;
    left: 35%;
    top: 12%;
    background: linear-gradient(45deg,black,gray);;
    animation: object2 6s linear infinite;
}
@keyframes object1{
    50%{
        left: -13%;
        top: 41%;
    }
}
@keyframes object2{
    50%{
        left: 35%;
        top: 10%;
    }
}
.cols{
    width: 50%;
}
.cols0{
    width: 80%;
    z-index: 5;
}
.topline{
    display: block;
    position: relative;
    font-size: 35px;
    letter-spacing: 5px;
    color: var(--second-bg-color);
}

.topline::after{
    position: absolute;
    content: '';
    height: 4px;
    width: 45px;
    bottom: 10px;
    background-color: var(--main-color);
}
h1{
    display: block;
    font-size: 6em;
    font-weight: 900;
    color: var(--second-bg-color);
}
.multiText{
    color: black;
    text-transform: capitalize	;
}
p{
    display: block;
    width: 100%;
    font-size: var(--p-font);
}
.btns{
     width: 100%;
     position: relative;
}
button{
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 25px;
    font-weight: 400;
    color: #fff;
    background-color: var(--second-bg-color);
    padding: 8px 14px;
    margin: 40px 5px;
    text-transform: capitalize;
    box-shadow: 0 15px 10px rgba(0, 0, 0, 0.4);
}
button:hover{
    background-color: var(--main-color);
}
.imgbox{
    position: relative;
    width: 100%;
    height: 100%;
}
.imgbox img{
    position: relative;
    height: 80%;
    width: calc(90% - 80px);
    left: 100px;
}
.imgbox #splash{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) rotate(-35deg);
    width: 100%;
    filter: saturate(200%);
}
#aviso{
    width: 100%;
    height: 100%;
    position: fixed;
    font-size: 3em;
    word-break: normal;
    text-align: center;
}
@media(max-width:1700px) {
    .cols1{
        display: none;
    }
}
.section-contratarme{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background: url('wallpaperflare.com_wallpaper.jpg') no-repeat;
    background-position: center;
    background-size: cover;
}

.form-value{
    width: 400px;
    height: 500px;
}
#h2contratacao{
    font-size: 2em;
    color: #fff;
    text-align: center;
}
.inputbox{
    position: relative;
    margin: 40px 5px;
    width: 95%;
    border-bottom: 2px solid #fff;
}
.inputbox label{
    position: absolute;
    top: -5px;
    left: 5px;
    transform: translateY(-50%);
    color: #fff;
    font-size: 1em;
    pointer-events: none;
    transition: .5s;
}

.inputbox input,textarea{
    width: 103%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    padding: 35px 0 5px;
    color: #fff;
}
textarea{
    resize: none;
    height: 70px;
}
.inputbox ion-icon{
    position: absolute;
    right: 8px;
    color: #fff;
    font-size: 1.2em;
    top: 20px;

}
#btn{
    margin: 0;
    width: 100%;
    height: 40px;
    border-radius: 40px;
    background: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
    color: black;
    transition: all .45s;
}
#btn:hover{
    background: var(--main-color);
    color:#fff
}
section{
    padding: 160px 15% 120px;
}
span{
    color: var(--main-color);
}
.sobre{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1.5rem;
}
.sobre-img img{
    max-width: 530px;
    height: auto;
    width: 90%;
    border-radius: 8px;
}
.sobre-text h2{
    font-size: var(--h2-font);
    line-height: 1;
}
.sobre-text h4{
    font: 24px;
    font-weight: 600;
    color: var(--second-bg-color);
    line-height: 1.7;
    margin: 15px 0 30px;
}
.sobre-text p{
    color: #444e53;
    font-size: var(--p-font);
    line-height: 1.8;
    margin-bottom: 4rem;
}

.main-text{
    text-align: center;
}
.main-text p{
    color: black;
    font-size: 15px;
    margin-bottom: 15px;
}
.main-text h2{
    font-size: var(--h2-font);
    line-height: 1;
}


.read{
    display: inline-block;
    padding: 8px 18px;
    background: #333333;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    border-radius: 8px;
    transition: all .45s ease;
    text-decoration: none;
}
.read:hover{
    letter-spacing: 1px;
    background: #7c7c7c99;
    color: #000000;
}

.row{
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    cursor: pointer;
}

.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.5), var(--main-color));
    position: absolute;
    border-radius: 8px;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 40px;
    transition: height 0.5s;
}
.layer p,h5{
    color: white;
}
.layer h5{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
}
.layer p{
    font-size: var(--p-font);
    line-height: 1.8;
}
.layer ion-icon{
    color: #000000;
    margin-top: 20px;
    font-size: 20px;
    background: var(--bg-color);
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    border-radius: 50%;
}
.row:hover img{
    transform: scale(1.1);
}
.row:hover .layer{
    height: 100%;
}
.end{
    padding: 20px 15%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    background: #333333;
}
.last-text p{
    color:var(--bg-color);
    font-size: 14px;
}

.top ion-icon{
    padding: 10px;
    border-radius: 8px;
    font-size: 15px;
    color: var(--bg-color);
    background: var(--main-color);
}

.link-guilherme{
    text-decoration: none;
    font-weight: 500;
    color: white;
}
.link-guilherme:hover{
    color: red;
    text-decoration: underline;
}

.grafico-content{
    margin: 60px 0 60px 0 ;
    width: 100%;
    height: 40vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;
    align-items: center;
}

.tendencia-content{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 3rem;
    margin-top: 40px;
}

.tendencia-box{
    padding: 15px;
    display: flex;
    border-radius: 8px;
    justify-content: flex-start;
    border: 1px solid rgb(194, 194, 194);
}

.tendencia-box h1{
    font-size: 2.5em;
    font-weight: 900;
    color: var(--second-bg-color);
}
.tendencia-descricao{
    margin-left: 20px;
}

.analiseCoporal{
    background: gray;
}

.analiseCoporal-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    align-items: center;
    gap: 2.5rem;
    margin-top: 5rem;
}
.box{
    background: var(--bg-color);
    padding: 35px 45px;
    border-radius: 8px;
    transition:  all .45s ease;
}
.s-icons ion-icon, i{
    font-size: 32px;
    margin-bottom: 20px;
}

.box h3{
    font-size: 24px;
    font-weight: 600;
    color: var(--main-color);
    margin-bottom: 15px;
}
.box p{
    color: #444e53;
    font-size: var(--p-font);
    line-height: 1.8;
    margin-bottom: 25px;
}

.box:hover{
    transform: translateY(-8px);
    cursor: pointer;
}

@media(max-width: 1680px){
    nav{
        padding: 12px 2.5%;
        transition: .1s;
    }
    nav.sticky{
        padding: 10px 2.5%;
        transition: .1s;
    }
    section{
        padding: 110px 3% 60px;
    }
    .end{
        padding: 15px 3%;
    }
}

@media (max-width: 500px){
    .form-box{
        width: 90vw;
    }
    .wrapper::before{
        height: 350px;
        width: 350px;
    }
    .wrapper::after{
        height: 75px;
        width: 75px;
    }

}

@media (max-width: 1100px) {
    :root{
        --big-font: 4rem;
        --h2-font: 2.5rem;
        --p-font: 1rem;
        transition: .1s;
    }
    .grafico-content{
        grid-template-columns: 1fr;
        height: 100%;
    }
    #graficoPizza{
        max-height: 70vh;
    }

}

@media (max-width: 1400px) {
    #menu-icon{
        display: block;
    }
    .navItems{
        position: absolute;
        top: -1000px;
        right: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        background: var(--bg-color);
        text-align: left;
        transition: all .45s ease;
    }
    .navItems a{
        display: block;
        margin: 17px;
        font-size: 20px;
        transition: all .45 ease;
        color: var(--second-bg-color);
    }
    .navItems a:hover{
        color: var(--main-color);
    }
    .navItems a.active{
        color: var(--main-color);
    }
    .icons{
        position: absolute;
        top: -1000px;
        right: 0;
        display: flex;
        background: var(--bg-color);
        text-align: left;
        transition: all .45s ease;
    }
    .logo{
        z-index: 1000;
    }
    nav{
        background: var(--bg-color);
        border-bottom: 1px solid var(--main-color);
        padding: 12px 15%;
    }
    .icons.open{
        top: 120%;
    }
    .navItems.open{
        top: 100%;
    }
    h1{
        font-size: 3em ;
    }

    .tendencia-content{
        grid-template-columns: auto auto;
    }
}

@media (max-width: 920px){
    .sobre{
        grid-template-columns: 1fr;
    }
    .sobre-img{
        text-align: center;
        order: 2;
    }
    .sobre-img img{
        width: 100%;
        height: auto;
        max-width: 100%;
    }
    .tendencia-content{
        grid-template-columns: 1fr;
    }
}